@(avion : Avion) 

<div class="detallesUsuario">
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
                <div class="info" align="center">
                    <img src="img/avioncito.png" alt="Ha ocurrido un error, por favor recargue la página" id="imagenAvion">
                    <p id="txt">Avión @avion.nombre</p>
                    <p>Tiempo Más Temprano: @avion.tiempoAterrizajeMasTemprano</p>
                    <p>Tiempo Más Óptimo: @avion.tiempoAterrizajeMasOptimo</p>
                    <p>Tiempo Más Tarde: @avion.tiempoAterrizajeMasTarde</p>
                </div>
        </div>
              
    </div>
</div>